<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628fdf">  <td>18/09/10 20:29:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethodsbb.close()[pri:0, instance:testbankbazaar.BankBazaar@c273d3]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/10 20:28:43</td>   <td>-47916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankBazaar.findInvestmentOptions()[pri:0, instance:testbankbazaar.BankBazaar@c273d3]">findInvestmentOptions</td> 
  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/09/10 20:28:34</td>   <td>-57611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodsbb.login()[pri:0, instance:testbankbazaar.BankBazaar@c273d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/10 20:28:34</td>   <td>-57627</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BankBazaar.setData()[pri:0, instance:testbankbazaar.BankBazaar@c273d3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/09/10 20:28:33</td>   <td>-58565</td> <td title="&gt;&gt;HtmlReporterbb.startResult()[pri:0, instance:testbankbazaar.BankBazaar@c273d3]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/09/10 20:28:34</td>   <td>-57627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporterbb.startTestCase()[pri:0, instance:testbankbazaar.BankBazaar@c273d3]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/09/10 20:29:32</td>   <td>726</td> <td title="&lt;&lt;HtmlReporterbb.stopResult()[pri:0, instance:testbankbazaar.BankBazaar@c273d3]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
</table>
